html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        title= title
    body
        h2 Histórico das 10 ultimas movimentações
        ul
          each hist in historico
              li= hist

          br
          br
          a(href="/")
              | Ir para Home
