html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        title= title
    body
        h1 Consultas
        form( action="/valorCarteira" method="POST" )
            h4 Insira sua Carteira para consultar o saldo da mesma:
            input(type="text" name="idcarteira")
            h4
            input(type="submit" value="Consultar")

            br
            br
            a(href="/")
               | Ir para Home
