html
  head
    // Plotly.js
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    script(src="../services/grafico.js")
  body
    #myDiv
      // Plotly chart will be drawn inside this DIV
    script.
      <!-- JAVASCRIPT CODE GOES HERE -->
