html
    head
        title= title
    body
        h2 Historico da carteira #{carteira}:
        ul
          each hist in historico
              li= hist

          br
          br
          a(href="/")
              | Ir para Home
