html
    head
        title= title
    body
        h3 Nao foi efetuado a gravação dos dados! Devido nenhum valor de entrada e de saida terem sido digitados. Por favor refaça!

        br
        br
        a(href="/")
           | Ir para Home
